Migrations/20200922172420_InitialDB.cs
Migrations/20200922172420_InitialDB.Designer.cs
Migrations/StoreDbContextModelSnapshot.cs
Migrations/20200923145337_Brands.cs
Migrations/20200923145337_Brands.Designer.cs
Migrations/20201001060708_AddMeasurements.cs
Migrations/20201001060708_AddMeasurements.Designer.cs
Migrations/20201001101330_StoreandAddress.cs
Migrations/20201001101330_StoreandAddress.Designer.cs
Migrations/20201006110502_AddSupplier.cs
Migrations/20201006110502_AddSupplier.Designer.cs
Migrations/20201006131759_AddCategory.cs
Migrations/20201006131759_AddCategory.Designer.cs
Migrations/20201006141428_AddPrice.cs
Migrations/20201006141428_AddPrice.Designer.cs
Migrations/20210906101904_InitialCreate.cs
Migrations/20210906101904_InitialCreate.Designer.cs
obj/project.assets.json
obj/project.nuget.cache
obj/StoreManagement.csproj.nuget.dgspec.json
obj/StoreManagement.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/StoreManagement.assets.cache
obj/Debug/netcoreapp3.1/StoreManagement.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/StoreManagement.exe
obj/Debug/netcoreapp3.1/StoreManagement.exe
obj/Debug/netcoreapp3.1/StoreManagement.assets.cache
obj/Debug/netcoreapp3.1/StoreManagement.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/project.razor.json
obj/StoreManagement.csproj.nuget.g.props
obj/StoreManagement.csproj.nuget.dgspec.json
obj/project.assets.json
obj/Debug/netcoreapp3.1/StoreManagement.assets.cache
obj/Debug/netcoreapp3.1/StoreManagement.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/StoreManagement.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/StoreManagement.assets.cache
Migrations/20210906185031_InitialStore.cs
Migrations/20210906185031_InitialStore.Designer.cs
obj/Debug/netcoreapp3.1/StoreManagement.assets.cache
obj/Debug/netcoreapp3.1/StoreManagement.AssemblyInfo.cs
